<?xml version="1.0"?>

<model>
  <name>LUKE Hand</name>
  <version>0.0.1</version>
  <!--
  <sdf version="1.5">luke_hand.SDF</sdf>
  <sdf>luke_hand.URDF</sdf>
  -->
  <sdf>luke_hand_simple_shapes_both.URDF</sdf>

  <author>
    <name>a</name>
    <email>a@osrfoundation.org</email>
  </author>

  <author>
    <name>b</name>
  </author>

  <description>
    A model of DEKA Luke Hand Radial Configuration.
  </description>
</model>
